.SelecIndustry-container {
  .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 2%;
  }
  .industry-container {
    display: flex;
    width: 80%;
  }
  .industry {
    margin-right: 10%;
    background-color: rgba(255, 255, 255, 1);
    padding: 2% 2% 2% 2%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .selected {
    color: blue;
  }
  .inds {
    width: 150px;
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 3% 0% 3% 1%;
    cursor: pointer;
  }
}
