.CategoryM-container {
  margin-top: 20px;
  .title {
    font-size: 30px;
    font-weight: bold;
  }
  .btn-box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
  }
  .addcatalog-btn {
    background-color: #0d6efd;
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
  }
  .delete-btn {
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5%;
    font-weight: 500;
  }
  .border {
    border: 1px solid gray;
  }
  .table {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1% 0% 0% 1%;
    background-color: white;
  }
  .lable {
    font-size: 18px;
    font-weight: bold;
    display: flex;
   padding-left: 0.1%;
  }
  .name {
    width: 50%;
    padding-left: 0.1%;
   
  }
  .lable-name{
    margin-left: 0.15%;
  }
  .mt1 {
    margin-top: 1%;
  }
  .num-product {
    width: 30%;
   
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    padding: 0% 0% 1% 0.1%;
  }
  .action {
  
    width: 20%;
    text-align: center;
  }
  .row-category {
    display: flex;
    margin-bottom: 2%;
    border-bottom: 1px solid lightgray;
    width: 100%;
    .name {
      width: 50%;
     
    }
    .num-product {
      width: 30%;
      text-align: center;
     
      
    }
    .btn {
      background-color: #0d6efd;
      border: none;
      color: white;
      padding: 12px 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;
      margin-bottom: 1%;
    }
    .action{
      
    }
  }
  .delete-btn{
    background-color: #e03444;
  }
  .disabled{
    background-color: #dddddd;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5%;
    font-weight: 500;
  }
}
