.Error-container {
    min-height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    .content {
        width: 60rem;
        margin: 0 auto 0 auto;
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-er{
        width: 20rem;
        height: 20rem;
    }
    .text{
        margin-top: 30px;
        margin-bottom: 10px;
        text-align: center;
    }
    .text h1{
        font-size: 2.5rem;
        font-weight: bold;
    }
    .text p{
        font-size: 1.25rem;
        color: #908D8D;
        font-weight: bold;
    }
    a{
        text-decoration: none;
    }
    .button{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .button-back{
        width: 15rem;
        height: 4rem;
        cursor: pointer;
        border-radius: 25px;
        border: none;
        background-color: #c00000;
        color: white;
        text-align: center;
        float: right;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon-back{
        color: white;
        margin-right: 10px;
    }
  }
