.StaffList-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px 30px 20px 30px;
  .title{
    font-size: 30px;
    font-weight: bold;
  }
  .add {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
    font-weight: 500;
  }
  .button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .btn {
    background-color: #0d6efd;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
  }
  .table-label {
    font-weight: 550;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .table-content {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .trash {
    background-color: #e03444;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
  }
  .trash:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #e03444;
  }
  .trash:hover {
    box-shadow: 0 0 5px #e03444;
  }
  .edit {
    background-color: #0d6efd;
  }
  .btn:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #0d6efd;
  }
  .btn:hover {
    box-shadow: 0 0 5px #0d6efd;
    text-shadow: 0 0 5px white;
  }

  .checkbox {
    width: 15px;
    height: 15px;
    margin-right: 2%;
  }
  .checkbox-head {
    display: flex;
  }
  .pages {
    width: 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    // margin-top: 2%;
    margin-right: 2%;
  }
  .pages-number,
  .icon-back,
  .icon-next {
    color: #808080;
  }
  .button-back {
    background-color: white;
    border: none;
    cursor: pointer;
}
.button-next{
    background-color: white;
    border: none;
    cursor: pointer;
}
}
