.SelecIndustry-container {
  .title {
    font-size: 30px;
    font-weight: 600;
  }
  .industry-container {
    display: flex;
    width: 80%;
  }
  .industry {
    margin-right: 10%;
    background-color: rgba(217, 217, 217, 0.2);
    padding: 2% 2% 2% 2%;
  }

  .selected {
    color: blue;
  }
  .inds {
    width: 150px;
    border: 1px solid lightgray;
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: 600;
   padding-top: 3%;
   padding-bottom: 3%;
    text-align: center;
    border-radius: 5px;
  }
}
