.addproduct-container {
  display: flex;
  flex-direction: column;
  .title {
    font-size: 30px;
    font-weight: bold; 
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .title-small {
    font-size: 24px;
    font-weight: bold;
    color: #0d6efd;
  }
  .basic-info{}
  // .industry {
  //   margin-top: 3%;
  // }
  // .desc {
  //   margin-top: 3%;
  // }
  .desc{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .detail {
    margin-top: 2%;
  }
  .variants{
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .table{
    margin-bottom: 2%;
  }
  .pic {
    display: inline-block;
    width: 100%;

    height: 100px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    background-size: 60px 60px;
  }
  .title-detail {
    font-size: 20px;
    font-weight: 600;
  }
  .detail-title
  {
    color: gray;
    font-weight: 600;
  }
  .btn {
    background-color: #0d6efd;
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
  }
  .btn-add{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
    
  }
  button:hover::before{
    transform: scale(1.1);
    box-shadow: 0 0 15px #0d6efd;
  }
  button:hover{
    box-shadow: 0 0 5px #0d6efd;
    text-shadow: 0 0 5px white;
  }
  .btn:hover::before{
    transform: scale(1.1);
    box-shadow: 0 0 15px #0d6efd;
  }
  .btn:hover{
    box-shadow: 0 0 5px #0d6efd;
    text-shadow: 0 0 5px white;
  }
}
