.ReadMore-container {
    background-color: white;
    .Xem_them_button {
        border-radius: 5px 5px 5px 5px;
        font-weight: bold;
        width: 150px;
        height: 30px;
        border-style: solid;
        border-color: #C00000;
        color: #C00000;
      }
      
    .Xem_them_grid {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    background-color: white;
    }
  }
