.DetailProduct-container {
  .content {
    padding: 2% 3% 3% 3%;
    width: 95%;
  }
  .pic {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: space-around;
    margin-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
  }
  .img {
    width: 18%;
    height: auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  .detail {
    display: flex;
  }
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3%;
    margin-top: 2%;
  }
  .name {
    font-size: 24px;
    font-weight: bold;
    color: #0d6efd;
    padding-left: 1%;
  }
  .title-small {
    font-size: 24px;
    font-weight: bold;
    color: gray;
  }
  .industry {
    font-size: 20px;
    font-weight: 600;
  }
  .detail-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1% 0% 0% 1%;
  }
  .decs {
    padding: 2% 2% 2% 2%;
  }
  .detail-info {
    padding: 1% 25% 2% 2%;
  }
  .key {
    font-weight: 600;
    width: 30%;
    margin-right: 10%;
    margin-bottom: 2%;
  }
  .value {
    font-weight: 600;
    color: gray;
  }
  .title-decs {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2%;
  }
  .content-decs {
    padding-left: 1%;
    text-indent: 1%;
    font-weight: 500;
  }
  .img:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px black;
  }
  .img:hover {
    box-shadow: 0 0 5px black;
   
  }
}
