.CustomerList-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
  }
  .header {
    padding: 10px 0;
  }
  .pages {
    width: 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: 2%;
    margin-bottom: 1%;
  }
  .pages-number,
  .icon-back,
  .icon-next {
    color: #808080;
  }
  .button-back {
    background-color: white;
    border: none;
    cursor: pointer;
  }
  .button-next {
    background-color: white;
    border: none;
    cursor: pointer;
  }
  .active {
    color: black;
  }
  .active-tagsendo {
    background-color: #EE2624;
    color: white;
  }
  .active-tagwebsite {
    background-color: #0d6efd;
    color: white;
  }
  .list-container {
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
  }
  .customer-name {
    padding-left: 4%;
    width: 10%;
    // border: 1px solid lightgray;
    font-family: "Inter", sans-serif;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 550;
  }
  .lastname {
    width: 10%;
    // border: 1px solid lightgray;
    font-family: "Inter", sans-serif;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .email {
    width: 10%;
    // border: 1px solid lightgray;
    font-family: "Inter", sans-serif;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .address {
    width: 10%;
    // border: 1px solid lightgray;
    font-family: "Inter", sans-serif;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .phone {
    width: 5%;
    // border: 1px solid lightgray;
    font-family: "Inter", sans-serif;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .create-date {
    width: 10%;
    // border: 1px solid lightgray;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .order-status {
    width: 10%;
    // border: 1px solid lightgray;
    font-family: "Inter", sans-serif;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .lable-customer {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #334155;
    font-weight: 550;
  }
  .content-customer {
    color: #475569;
    font-size: 14px;
    // border: 1px solid gray;
  }
  .order-body {
    cursor: pointer;
  }
  .order-body:hover {
    background-color: #f5f5f5;
  }
  .paidTag {
    border-radius: 10px;
    background-color: #198754;
    color: white;
    width: 30%;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
  }
  .select-status-box {
    width: 20%;
    height: 60%;
    border-radius: 8px;
    border: 1px solid lightgray;
  }
  .select-status-box:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #0d6efd;
    border: 1px solid white;
  }
  .select-status-box:hover {
    box-shadow: 0 0 5px #0d6efd;
    border: 1px solid white;
  }
  .select-status-box:focus {
    outline: none;
    box-shadow: 0 0 5px #0d6efd;
    border: 1px solid white;
  }
  // .status {
  //   display: flex;
  //   padding-left: 4%;
  //   align-items: center;
  //   height: 60px;
  // }
  // .lable-status {
  //   font-size: 14px;
  //   font-family: "Inter", sans-serif;
  //   color: #334155;
  //   font-weight: 550;
  //   margin-right: 1%;
  // }
  .blue {
    color: #0d6efd;
    font-weight: 400;
  }
  .tab {
    margin-top: 2%;
    display: flex;
    margin-bottom: 2%;
    margin-left: 2%;
    // border-radius: 10px;
  }
  .button-website {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 100px;
    height: 35px;
    // background-color: black;
    // color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border: none;
    cursor: pointer;
    
    font-size: 16px;
    font-weight: 500;
  }
  .button-shopee {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100px;
    height: 35px;
    // background-color: #ebebeb;
    // color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border: none;
    cursor: pointer;
   
    font-size: 16px;
    font-weight: 500;
  }
  .active-tag {
    background-color: black;
    color: white;
  }
}
