.OrderCustomer-container{
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        font-size: 30px;
        font-weight: bold;
    }
    .header{
        width: 80%;
        padding: 10px 0;
    }
    .tab{
        border-radius: 5px;
        width: 80%;
        height: 50px;
        background-color: #F2F2F2;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 1%;
        padding-right: 1%;
    }
    .content{
        width: 80%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        padding: 20px 0;
        min-height: 470px;
    }
    
    .tab button {
        float: left;
        border: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 16px;
        width: 33%;
        border-radius: 10px;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
    }
    .tab button:hover {
        background-color: #ddd; 
    }
    
    .tab button.active {
        background-color: #0D6EFD;
        color: white;
    }
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border-top: none;
        width: 100%;
    }
    .tabcontent.active {
        display: block;
    }
    .username{
        border-bottom: solid 1.5px black;
        margin-bottom: 16px;
        font-weight: bold;
        // margin: 0 16px;
    }
    .username-content{
        padding-bottom: 5px;
    }
    .book-detail{
        display: flex;
        margin: 16px 0;
        justify-content: space-between;
        font-weight: bold;
        padding-bottom: 8px;
        border-bottom: solid 1.5px black;
    }
    .book-info{
        display: flex;
        justify-content: space-between;
    }
    .image{
        margin-right: 16px;
    }
    .name-count{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .price{
        float: right;
        width: 9rem;
        display: flex;
        justify-content: space-between;
    }
    .initial-price{
        color: #808080;
        text-decoration-line: line-through;
    }
    .last-price{
        color: #c00000;
    }
    .horizontal-line {
        margin-top: -10px;
        border-top: 2px solid #808080;
    }
    .total{
        display: flex;
        flex-direction: column;
        float: right;
    }
    .sumprice{
        width: 10rem;
        text-align: right;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
    }
    .sum{
        color: #808080;
    }
    .total-price{
        color: #c00000;
    }
    .repurchase{
        width: 10rem;
    }
    .button-repurchase{
        width: 5rem;
        height: 2rem;
        cursor: pointer;
        border-radius: 6px;
        border: none;
        background-color: #c00000;
        color: white;
        text-align: center;
        margin-top: 16px;
        float: right;
    }
    .button-order{
        margin-top: 60px;
        display: flex;
        justify-content: right;
    }
    .detail-button{
        margin-left: 10px;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: 500;
        color: white;
        background-color: black;
    }
    .lable-product {
        font-size: 14px;
        font-family: "Inter", sans-serif;
        color: #334155;
        font-weight: 550;
      }
      .product {
        width: 50%;
        padding-left: 4%;
        // border: 1px solid gray;
        .img {
          width: 20%;
          height: auto;
          border: 1px solid #ddd;
          border-radius: 10px;
        }
        .product-container {
          display: flex;
          align-items: center;
        }
        .name-frame {
          margin-left: 1%;
        }
        .name-product {
          max-width: 80%;
          font-family: "Inter", sans-serif;
          color: #334155;
          font-weight: 550;
          text-transform: none;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .sku {
          font-family: "Inter", sans-serif;
          color: #334155;
        }
      }
      .quantity {
        width: 15%;
        // border: 1px solid gray
      }
      .amount {
        width: 15%;
        // border: 1px solid gray
        text-transform: none;
      }
      .order{
        margin-bottom: 1%;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
      .date{
        margin-top: 1%;
        margin-left:3.8%;
        font-family: "Inter", sans-serif;
        color: #334155;
        font-weight: 550;
      }
}
