.Product-container{
    display: flex;
    flex-direction: column;
    .title{
        font-size: 30px;
        font-weight: bold;
    }
    .name-business{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .list-product{
        display: flex;
        flex-direction: column;
    }
    .row-product{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .detail-product{
        width: 18%;
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 8px;
        border-radius: 5px;
    }
    .name-product{
        margin-top: -45px;
        margin-bottom: 10px;
    }
    .price-product{
        font-weight: bold;
    }
    .pagination{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        button{
            border: none;
            margin-left: 10px;
            padding: 5px 10px;
            cursor: pointer;
        }
    }
    .active{
        background-color: black;
        color: white;
    }

}