.AddButton-container {
  display: flex;
  padding: 1% 5% 1% 5%;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: #b40404;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  
  .icon{
    margin-right: 2%;
  }
}
.AddButton-container:hover {
  background-color: #c80404;    
  box-shadow: 0 4px 8px #c80404;
}

