.Shop-container {
  display: flex; 
  flex-direction: column;
  align-items: center;
  .title {
    width: 80%;
    font-size: 30px;
    font-weight: bold;
  }
  .product {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding-left: 2%;
  }
  .content {
    display: flex;
    width: 90%;
    padding-left: 1%;
    padding-top: 2%;
  }
  .name-business {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .list-product {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
  }
  .row-product {
    display: flex;
    margin-bottom: 20px;
    // border: 1px solid gray;
  }

  .mr {
    margin-right: 3%;
  }
  .mr-end {
    margin-right: -1%;
  }
  .name-product {
    margin-bottom: 10px;
    font-weight: 500;
  }
  .image-product {
    height: 80%;
    margin-bottom: 2%;
    // border: 1px solid gray;
    border-radius: 6px;
  }
  .price-product {
    font-weight: bold;
  }
  .active {
    // background-color: black;
    color: black;
  }
  .bottom-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    width: 80%;
    margin-top: 2%;
  }
  .lable-category {
    font-size: 15px;
    font-family: "Inter", sans-serif;
    color: #334155;
    font-weight: 400;
    padding-top: 1%;
    padding-bottom: 1%;
    cursor: pointer;
    margin-top: 3%;

  }

  .lable-category:hover {
    color: #d0011b;
   
  }
  .category {

    width: 15%;
    display: flex;
    background-color: white;
    flex-direction: column;
  }
  .category-active {
    // border-bottom: 3px solid #d0011b;
    color: #d0011b;
    border-bottom: 1px solid #d0011b;
   
  }

  .lable {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #334155;
    font-weight: 550;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 35%;
    border-bottom: 2px solid #334155;
  }
  .icon {
    margin-right: 2%;
  }
  .sort-box{
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(190, 190, 190, 0.2);
    width: 98%;
    align-items: center;
    
  }
  .lable-sort{
    // border: 1px solid gray;
    width: 10%;
    text-align: center;
  }
  .tag-sort{
   padding: 1% 2% 1% 2%;
    margin-right: 2%;
    background-color: white; 
    font-family: "Inter", sans-serif;
    color: #334155;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
  }
  .info-business{
    display: flex;
    flex-direction: column;
    justify-content:center;
    font-family: "Inter", sans-serif;
    color: #334155;
    font-weight: 550;
    
  }
  .sort-active {
    background-color: #0d6efd;
    color: white;
  }
  .pages {
    width: 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: 2%;
    margin-top: 1%;
  }
  .pages-number,
  .icon-back,
  .icon-next {
    color: #808080;
  }
  .button-back {
    background-color: white;
    border: none;
    cursor: pointer;
  }
  .button-next {
    background-color: white;
    border: none;
    cursor: pointer;
  }
}
