.Order-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title{
        font-size: 30px;
        font-weight: bold;
    }
    .header{
        padding: 10px 0;
    }
    .tab{
        height: 15%;
        background-color: white;
        margin-top: 10px;
    }
    .content{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 20px 0;
    }
    
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        width: 20%;
        font-size: 16px;
    }
    .tab button:hover {
        background-color: #ddd; 
    }
    
    .tab button.active {
        background-color: rgb(24, 0, 179);
        color: white;
    }
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border-top: none;
        width: 100%;
    }
    .tabcontent.active {
        display: block;
    }
    .username{
        border-bottom: solid 1.5px black;
        margin-bottom: 16px;
        font-weight: bold;
        margin: 0 16px;
    }
    .username-content{
        padding-bottom: 5px;
    }
    .book-detail{
        display: flex;
        margin: 16px;
        justify-content: space-between;
        font-weight: bold;
        padding-bottom: 8px;
        border-bottom: solid 1.5px black;
    }
    .book-info{
        display: flex;
        justify-content: space-between;
    }
    .image{
        margin-right: 16px;
    }
    .name-count{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .price{
        float: right;
        width: 9rem;
        display: flex;
        justify-content: space-between;
    }
    .initial-price{
        color: #808080;
        text-decoration-line: line-through;
    }
    .last-price{
        color: #c00000;
    }
    .horizontal-line {
        margin-top: -10px;
        border-top: 2px solid #808080;
    }
    .total{
        margin: 0 16px;
        display: flex;
        flex-direction: column;
        float: right;
    }
    .sumprice{
        width: 10rem;
        text-align: right;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
    }
    .sum{
        color: #808080;
    }
    .total-price{
        color: #c00000;
    }
    .repurchase{
        width: 10rem;
    }
    .button-repurchase{
        width: 5rem;
        height: 2rem;
        cursor: pointer;
        border-radius: 6px;
        border: none;
        background-color: #c00000;
        color: white;
        text-align: center;
        margin-top: 16px;
        float: right;
    }
}
