.Contact-container{
    padding: 20px 20px 50px 20px;
    background: linear-gradient(to bottom, #FFFFFF, #ddf5ff);
    line-height: normal;
    .contact{
        width: 60%;
        background-color: white;
        margin: 20px auto 0 auto;
        height: 500px;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
        transition: box-shadow 0.3s ease-in-out;
        border-radius: 10px;
        display: flex;
    }
    .form-contact{
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-weight: 450;
        font-size: 36px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .title{
        width: 80%;
    }
    .attribute-form{
        width: 80%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
    label{
        font-weight: bold;
    }
    .form{
        height: 2em;
        margin-top: 5px;
        border-radius: 6px;
        border: 1px solid #a9a9a9;
    }
    .text-area{
        height: 8em;
        margin-top: 5px;
        border-radius: 6px;
        border: 1px solid #a9a9a9;
    }
    .information-contact{
        width: 45%;
        background-color: #2424b8;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.5;

        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
        transition: box-shadow 0.3s ease-in-out;
        border-radius: 0 10px 10px 0;
    }
    .title-info{
        width: 80%;
    }
    .description{
        width: 80%;
        margin-bottom: 30px;
        margin-top: -10px;
    }
    .address, .phone, .email, .facebook{
        width: 80%;
        display: flex;
        margin-bottom: 20px;
    }
    .icon{
        margin-right: 10px;
    }
    .button-send{
        margin-top: 10px;
        padding: 8px 10px;
        border: none;
        border-radius: 6px;
        color: white;
        background-color: #2424b8;
        font-weight: 500;
        cursor: pointer;
    }
    .button-send:hover{
        background-color: #0000ff;
    }

}
