.editproduct-container {
  display: flex;
  flex-direction: column;
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3%;
    margin-top: 2%;
  }
  .title-small {
    font-size: 24px;
    font-weight: bold;
    color: #0d6efd;
  }
  .basic-info{}
  // .industry {
  //   margin-top: 3%;
  // }
  // .desc {
  //   margin-top: 3%;
  // }
  .detail {
    margin-top: 2%;
  }
  .pic {
    display: inline-block;
    width: 100%;
    height: 100px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    background-size: 60px 60px;
  }
  .title-detail {
    font-size: 20px;
    font-weight: 600;
  }
  .detail-title
  {
    color: gray;
    font-weight: 600;
  }
  .btn {
    background-color: #0d6efd;
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
  }
  .btn-add{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
    
  }
  button:hover::before{
    transform: scale(1.1);
    box-shadow: 0 0 15px #0d6efd;
  }
  button:hover{
    box-shadow: 0 0 5px #0d6efd;
    text-shadow: 0 0 5px white;
  }
  .btn:hover::before{
    transform: scale(1.1);
    box-shadow: 0 0 15px #0d6efd;
  }
  .btn:hover{
    box-shadow: 0 0 5px #0d6efd;
    text-shadow: 0 0 5px white;
  }
  .img{
    width: 100%;
    height: 240px;
    border: 1px solid lightgrey;
  }
  .img-frame{
    width:18%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: white;
    margin-right: 3%;
  }
  .img-frame .close {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 100;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e03444;
    color: white;
    cursor: pointer;
  }
  .close:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #e03444;
  }
  .close:hover {
    box-shadow: 0 0 5px #e03444;
  }
  .upload-button{
    width: 18%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #0d6efd;

  }
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .loader {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    border-top: 5px solid #FF3D00;
    border-right: 5px solid transparent;
    box-sizing: border-box;
    animation: rotation 1.5s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
}
